@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

// home component

@include media-breakpoint-down(sm) {
  .home {
    &__heading {
      margin-bottom: 0;
      height: 120vh;

      &__desc {
        z-index: 100;
      }

      &__img {
        position: absolute;
        top: 0;
        left: 0;

        .img-container {
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    h1,
    h3,
    p {
      color: #dedede;
    }
  }

  .category {

    &__heading {

      &::after {
        width: 20%;
      }
    }

    &__item {
      margin: 0.3rem 0;

      &__container {
        overflow: hidden;
        height: 0;
        transition: height 0.4s;
      }

      .btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
      .btn-outline-primary:not(:disabled):not(.disabled):active,
      .btn-outline-primary:not(:disabled):not(.disabled):hover {
        background-color: white;
        color: $primary;
        border: 1px solid $primary;
      }

      .btn-outline-primary:not(:disabled):not(.disabled).active:hover {
        background-color: $primary;
        color: white;
        border: 1px solid $primary;
      }
  
      &__container.active {
        height: 507px;
      }
    }
  }

  .carousel {
    text-align: center;
    padding-top: 0;

    &__desc {
      padding-top: 0;
    }

    &__img {
      align-items: center;
    }
  }

  .swiper-container {

    .swiper-slide--3 {

      .carousel__desc {
        padding: 2rem 0;
      }

      .carousel__img {

        img {
          height: 360px;
        }
      }
    }
  }

  .testimonials {

    &__heading {
      display: flex;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

      &__icon {

        svg {
          height: 50px;
        }
      }
    }

    &__item {

      &__message {

        p {
          font-size: 1rem;
        }
      }
    }

    &__profile {
      top: 71%;
    }
  }
}

@include media-breakpoint-only(md) {
  .testimonials {

    .swiper-container-2 {
      height: 325px;
    }
  }
}
