<div class="navbar-cont bg-white position-fixed w-100" [@navbarDisplay]="navbarState" #navbar>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
          <a class="navbar-brand">JOBIT</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end show" (click)="toggleNavbar($event)" *ngIf="isCollapsed" id="navbarNav" @buttonsAnimation [@navbarCollapse]="isCollapsed ? 'collapseEnd' : 'collapseStart'">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link mr-2 text-dark" *ngIf="!isLoggedIn" (click)="toggleLogin($event)" style="cursor: pointer;">Login</a>
              </li>
              <li class="nav-item">
                  <button type="button" class="btn btn-primary mr-3" [routerLink]="[isLoggedIn ? getLink() : '/auth/register']">
                    {{isLoggedIn ? getText() : "Join Now"}}
                  </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-success text-white" [routerLink]="[isLoggedIn ? '/work/me' : '/auth/emp-register']">
                    {{isLoggedIn ? "View Profile" : "Employer?"}}
                </button>
              </li>
            </ul>
          </div>
        </nav>

      </div>
    </div>
  </div>

</div>
