<div class="row">
    <div class="col-12 col-sm-2 col-md-4 job-requirem__req">
        <strong>Experience Needed:</strong><br>
        <img src="https://img.icons8.com/cotton/64/000000/info--v5.png" width="15px"/>
        +{{job.experience_needed}} Years
    </div>

    <div class="col-12 col-sm-2 col-md-4 job-requirem__req">
        <strong>Job Type:</strong><br>
        <img src="https://img.icons8.com/cotton/64/000000/info--v5.png" width="15px"/>
        {{job.type}}
    </div>

    <div class="col-12 col-sm-2 col-md-4 job-requirem__req">
        <strong>Salary:</strong><br>
        <img src="https://img.icons8.com/cotton/64/000000/info--v5.png" width="15px"/>
        {{job.salary}}
    </div>

    <div class="col-12 col-sm-2 col-md-4 job-requirem__req">
        <strong>Vacancies:</strong><br>
        <img src="https://img.icons8.com/cotton/64/000000/info--v5.png" width="15px"/>
        {{job.vacancies}}
    </div>

    <div class="col-12 job-requirem__requirements">
        <h5><img src="https://img.icons8.com/wired/64/000000/ingredients-list.png" class="mb-2" width="40px"/> Job Requirements</h5>
        <div class="col-12 flex-column job-post__desc mb-4" [innerHTML]="job.description">
        </div>
    </div>

    <div class="col-12 job-requirem__keywords">
        <h5><img src="https://img.icons8.com/windows/32/000000/todo-list.png" width="40px" class="mb-2"/> Skills</h5>
        <mat-chip-list aria-label="Fish selection" class="d-block mt-2">
            <mat-chip [color]="i % 2 == 0 ? 'warn' : 'accent'" class="text-white" selected *ngFor="let skill of skills; let i = index">{{skill}}</mat-chip>
        </mat-chip-list>
    </div>

    <div class="col-12 job-requirem__actions">
        <mat-card-actions>
            <button mat-raised-button [color]="'primary'" routerLink="questions">Apply for Job</button>
            <button mat-stroked-button color="accent"> <mat-icon>bookmark</mat-icon> Save Job</button>
        </mat-card-actions>
    </div>
</div>