<div class="employee" [routerLink]="['/find/seeker', employee.ID]">
    <div class="employee__header">
        <img [src]="employee.img" [alt]="employee.firstName" class="employee__header__img">
        <!-- <button mat-icon-button (click)="saveSeeker(employee.ID, $event)"><mat-icon color="primary">{{isSaved ? 'bookmark' : 'bookmark_border'}}</mat-icon></button> -->
    </div>

    <div class="employee__name">
        <h4>{{employee.firstName}} {{employee.lastName}}</h4>
        <h4>${{employee.salary}}/M</h4>
    </div>

    <h2 class="employee__title">{{employee.title}}</h2>

    <!-- <mat-chip-list aria-label="Fish selection" class="w-100">
        <mat-chip>Python</mat-chip>
        <mat-chip>Nodejs</mat-chip>
      </mat-chip-list> -->
</div>