<div class="row">
    <div class="col-12 col-lg-5">
        <mat-tab-group mat-stretch-tabs dynamicHeight (focusChange)="tabChanged($event)">
          <mat-tab *ngFor="let tab of tabs; let i = index" [label]="tab">
            <div class="tab-container">
              <div *ngIf="tab == 'Explore'">
                <app-job *ngFor="let job of  $jobs | async; let i = index" [job]="job"
                  [routerLink]="['/work', tab.toLowerCase(), job.ID]" routerLinkActive="active"></app-job>
              </div>

              <div *ngIf="tab == 'Applications'">
                <app-app *ngFor="let app of $apps | async; let i = index" [app]="app"
                  [routerLink]="['/work', tab.toLowerCase(), app.app.ID]" routerLinkActive="active"></app-app>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      
      <div class="col d-none d-lg-block">
        <router-outlet></router-outlet>
      </div>      
</div>