mat-tab-group {

    .tab-container {
        height: 75vh;
        overflow-y: auto;
    }
}

:host ::ng-deep {
    
    .mat-tab-body-content {
        background-color: rgba(0, 0, 0, 0.07);
    }

    .mat-tab-group-dynamic-height .mat-tab-body-content {
        overflow: auto;
    }

    .mat-tab-body-content::-webkit-scrollbar {
        display: none;
    }
}