@import "../../../assets/scss/variables";

.job-desc {
    
  mat-card {
    height: 85vh;
    overflow-y: auto;
    margin-top: 20px;
  }

  .mat-card-title {
    color: $primary;
    margin-bottom: 7px;
    font-weight: 600;
  }

  .mat-card-subtitle:first-child {
    color: $primary;
  }

  mat-card {
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    &-header {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-right: 10px;

        div[mat-card-avatar] {
            width: 56px;
            height: 56px;
        }
    }
  }

  mat-card-content {
      padding-left: 1.5rem;
      padding-right: 1.5rem;

  }
}
