// @import 'themes';

// @import '~@nebular/theme/styles/globals';

// @include nb-install() {
//   @include nb-theme-global();
// };

/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/reboot";

$theme-colors: (
    "primary": #0351ff,
    "success": #2dce92
);
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}