@import "../../assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.home {
  &__heading {
    margin-bottom: 3rem;
    height: 100vh;

    h1 {
      font-size: 2.8rem;
      font-weight: 700;
    }

    &__img {
      .img-container {
        position: absolute;
        top: -4.7rem;
        width: 70%;
        overflow: hidden;
        max-height: 40rem;

        &:nth-child(1) {
          img {
            animation-delay: 12s;
            animation-name: imageAnimation-3;
          }
        }

        &:nth-child(2) {
          img {
            animation-delay: 6s;
            animation-name: imageAnimation-2;
          }
        }
      }

      img {
        max-width: 100%;
        opacity: 0;
        animation-name: imageAnimation;
        animation-duration: 18s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    &__desc {
      overflow: hidden;

      &__typed {
        background-image: linear-gradient(
          43deg,
          #4158d0 0%,
          #50c873 79%,
          #c3ff70 90%
        );

        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .input-group > .form-control {
        flex: 5 1 auto;
        height: calc(2em + 1rem + 2px);
        font-size: 1rem;
      }

      .input-group {
        &-append {
          flex: 0 1 auto;
        }

        .btn {
          padding-right: 2rem;
          padding-left: 2rem;
          font-size: 1rem;
        }
      }
    }
  }
}

.carousel {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f5f6f7;
  margin-top: 10rem;

  &__desc {
    color: $heading-color;
    padding-top: 4rem;
  }

  &__img {
    display: flex;
    justify-content: center;

    img {
      height: 300px;
    }
  }
}

.swiper-container {
  width: 100%;

  .swiper-slide.row {
    margin: 0;
    box-sizing: border-box;
  }

  &-horizontal {
    .swiper-pagination-bullets {
      bottom: 0;
    }
  }

  .swiper-slide--3 {
    .carousel__img {
      img {
        height: 420px;
      }
    }
  }
}

.testimonials {
  position: relative;
  background: url(../../assets/img/austin-distel-jpHw8ndwJ_Q-unsplash.jpg)
    center center scroll no-repeat;
  background-size: cover;
  height: 80vh;
  z-index: 10;

  .swiper-container-2 {
    min-height: 265px;
    overflow: hidden;
  }

  .swiper-slide {
    width: 84%;
    background-color: white;
    border-radius: 23px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.75) 7px 6px 22px 1px;
    cursor: grab;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }

  &__content {
    z-index: 1000;
    background-color: transparent;
    padding-top: 7rem;
    overflow: hidden;
  }

  &__item {
    position: relative;

    &__message {
      font-size: 1.1rem;
      margin-top: 1rem;
    }
  }

  &__profile {
    display: flex;
    &__img {
      border: 1px solid transparent;
      border-radius: 50%;
      background: url("../../assets/img/joseph-gonzalez-iFgRcqHznqg-unsplash\ \(1\).jpg")
        center center scroll no-repeat;
      background-size: cover;
      width: 59px;
      height: 59px;
    }

    &__info {
      h4 {
        font-size: 1.1rem;
        margin-bottom: 0;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

.category {
  padding: 3rem 0;

  &__heading {
    color: $heading-color;
    font-size: 2rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 16px;
      height: 4px;
      width: 10%;
      background-color: #4d6182;
    }
  }

  &__item {
    &__heading {
      font-size: 1.1rem;
      margin-top: 1.5rem;
    }

    .list-group {
      &-item {
        font-size: 1rem;
        padding: 0.3rem 0;
        border: none;
      }
    }

    &__img {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        transition: background-color 0.6s;
      }

      p {
        position: absolute;
        bottom: 0;
        left: 7px;
        transform: translateX(0);
        transition: transform 0.6s;
        z-index: 1000;
      }

      &:hover {
        &::after {
          background-color: rgba(0, 0, 0, 0.4);
        }

        p {
          transform: translateX(10px);
        }
      }
    }
  }
}

.myCard {
  padding: 4rem 0;

  &__cont {
    box-shadow: 3px 1px 14px 0 rgba(0, 0, 0, 0.4);
    padding: 2rem 1rem;
    border-radius: 15px;

    .btn {
      padding: 1rem 1.5rem;
    }
  }
}

.loading-transition {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__item {
    display: block;
    background-color: $primary;
    height: 27vh;
    transform-origin: top left;
    transform: scaleX(0);
    margin: -10px 0;
    pointer-events: none;
    position: relative;
    z-index: 30000;
  }
}

@keyframes imageAnimation {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  16.6665% {
    opacity: 1;
  }

  33.333333% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes imageAnimation-2 {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  16.6665% {
    opacity: 1;
  }

  33.333333% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes imageAnimation-3 {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  16.6665% {
    opacity: 1;
  }

  33.333333% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
