<div class="loading-transition" @overlayAnimation>
  <a href="" class="loading-transition__item"></a>
  <a href="" class="loading-transition__item"></a>
  <a href="" class="loading-transition__item"></a>
  <a href="" class="loading-transition__item"></a>
</div>

<app-navbar></app-navbar>

<section class="home">
  <div class="home__heading d-flex align-items-md-center">
    <div class="container">
      <div class="row d-flex" @textAnimation @headingAnimation @imgAnimation>
        <div class="col-12 col-md-6 home__heading__desc d-flex flex-column justify-content-center">
          <h3>Get started</h3>
          <h1>
            Hire Experts &<br>
            Get Your Job Done
          </h1>
          <div class="input-group input-group-lg mt-4">
            <input type="text" class="form-control" placeholder="Find your job..." aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
            </div>
          </div>
          <p class="mt-4">Get your dream job <a href="#" class="text-primary">Sigup for free now</a></p>
        </div>

        <div class="col-12 col-md-6 home__heading__img d-flex">
          <div class="img-container">
            <picture>
              <source media="(max-width: 768px)" srcset="../../assets/img/pexels-elijah-o'donnell-4066041.jpg">
              <source media="(min-width: 769px)" srcset="../../assets/img/linkedin-sales-navigator-EI50ZDA-l8Y-unsplash.jpg">
              <img src="../../assets/img/linkedin-sales-navigator-EI50ZDA-l8Y-unsplash.jpg" alt="Employee">
            </picture>
          </div>
          <div class="img-container">
            <picture>
              <source media="(max-width: 768px)" srcset="../../assets/img/pexels-cottonbro-5483063.jpg">
              <source media="(min-width: 769px)" srcset="../../assets/img/linkedin-sales-navigator-wS73LE0GnKs-unsplash.jpg">
              <img src="../../assets/img/linkedin-sales-navigator-wS73LE0GnKs-unsplash.jpg" alt="Employee">
            </picture>
          </div>
          <div class="img-container">
            <picture>
              <source media="(max-width: 768px)" srcset="../../assets/img/pexels-fauxels-3183165.jpg">
              <source media="(min-width: 769px)" srcset="../../assets/img/annie-spratt-MChSQHxGZrQ-unsplash.jpg">
              <img src="../../assets/img/annie-spratt-MChSQHxGZrQ-unsplash.jpg" alt="Employee">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="carousel">
  <div class="container">
    <div class="row">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide row">
            <div class="col-12 col-md-6 order-last order-lg-first carousel__desc">
              <h2 class="carousel__desc__heading">Over 100'000 jobs</h2>
              <p class="carousel__desc__para">Do you know what could beat the exciting feeling of
                having a new computer? Make your own.<br>

                Cras laoreet mi ac augue dictum lobortis. Vestibulum
                nisi quam, accumsan ut ultrices nec, dapibus eget tellus.</p>

              <button type="button" class="btn btn-primary">Find Your Future Job</button>
            </div>

            <div class="col-12 col-md-6 order-first order-lg-last carousel__img">
              <img src="../../assets/img/Group 12@2x.jpg" alt="job view" class="mw-100">
            </div>
          </div>
          <div class="swiper-slide row">
            <div class="col-12 col-md-6 order-last order-lg-first carousel__desc">
              <h2 class="carousel__desc__heading">Track your application easily</h2>
              <p class="carousel__desc__para">Do you know what could beat the exciting feeling of
                having a new computer? Make your own.<br>

                Cras laoreet mi ac augue dictum lobortis. Vestibulum
                nisi quam, accumsan ut ultrices nec, dapibus eget tellus.</p>

              <button type="button" class="btn btn-primary">Get Started</button>
            </div>

            <div class="col-12 col-md-6 order-first order-lg-last carousel__img">
              <img src="../../assets/img/track-applications-mobile@2x.jpg" alt="job view" class="mw-100">
            </div>
          </div>
          <div class="swiper-slide swiper-slide--3 row">
            <div class="col-12 col-md-6 order-last order-lg-first carousel__desc">
              <h2 class="carousel__desc__heading">Take Control Over Your Exposure</h2>
              <p class="carousel__desc__para">Do you know what could beat the exciting feeling of
                having a new computer? Make your own.<br>

                Cras laoreet mi ac augue dictum lobortis. Vestibulum
                nisi quam, accumsan ut ultrices nec, dapibus eget tellus.</p>
              <button type="button" class="btn btn-primary">Get Started</button>
            </div>

            <div class="col-12 col-md-6 order-first order-lg-last carousel__img">
              <img src="../../assets/img/5331e2100856705.5f11c1c942288.jpg" alt="job view" class="mw-100">
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="testimonials__content col-12 row">
        <div class="col-12 col-md-6 testimonials__heading">
          <div class="testimonials__heading__icon">

            <svg xmlns="http://www.w3.org/2000/svg" width="76" height="71.5" viewBox="0 0 76 71.5">
              <path
                d="M68.875,38H57V27.786c0-5.634,4.26-10.214,9.5-10.214h1.188a3.7,3.7,0,0,0,3.563-3.83V6.08a3.7,3.7,0,0,0-3.562-3.83H66.5c-13.122,0-23.75,11.427-23.75,25.536v38.3a7.409,7.409,0,0,0,7.125,7.661h19A7.409,7.409,0,0,0,76,66.089V45.661A7.409,7.409,0,0,0,68.875,38Zm-42.75,0H14.25V27.786c0-5.634,4.26-10.214,9.5-10.214h1.187a3.7,3.7,0,0,0,3.563-3.83V6.08a3.7,3.7,0,0,0-3.563-3.83H23.75C10.628,2.25,0,13.677,0,27.786v38.3A7.409,7.409,0,0,0,7.125,73.75h19a7.409,7.409,0,0,0,7.125-7.661V45.661A7.409,7.409,0,0,0,26.125,38Z"
                transform="translate(0 -2.25)" fill="rgba(255,255,255,0.69)" /></svg>
          </div>
          <h1 class="text-white">What our customers<br> saying</h1>
        </div>

        <div class="swiper-container-2 col-12 col-md-6">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonials__item">
                  <div class="testimonials__item__rating d-flex justify-content-start">
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                  </div>
                  <div class="testimonials__item__message">
                    <p>All users on Myspace will know that there are
                      millions of people out there.<br>
                      Every day besides so many people joining<br>
                      this community. There are a lot more. </p>
                  </div>
                <div class="testimonials__profile">
                  <div class="testimonials__profile__img">
                  </div>
                  <div class="testimonials__profile__info ml-3">
                    <h4 class="text-dark font-weight-bold">David Smith</h4>
                    <p>Chief Digital Officer</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonials__item">
                  <div class="testimonials__item__rating d-flex justify-content-start">
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                  </div>
                  <div class="testimonials__item__message">
                    <p>All users on Myspace will know that there are
                      millions of people out there.<br>
                      Every day besides so many people joining<br>
                      this community. There are a lot more. </p>
                  </div>
                <div class="testimonials__profile">
                  <div class="testimonials__profile__img">
                  </div>
                  <div class="testimonials__profile__info ml-3">
                    <h4 class="text-dark font-weight-bold">David Smith</h4>
                    <p>Chief Digital Officer</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonials__item">
                  <div class="testimonials__item__rating d-flex justify-content-start">
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                    <div class="rating-star mx-1">
                      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#f8b00e" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                    </div>
                  </div>
                  <div class="testimonials__item__message">
                    <p>All users on Myspace will know that there are
                      millions of people out there.<br>
                      Every day besides so many people joining<br>
                      this community. There are a lot more. </p>
                  </div>
                <div class="testimonials__profile">
                  <div class="testimonials__profile__img">
                  </div>
                  <div class="testimonials__profile__info ml-3">
                    <h4 class="text-dark font-weight-bold">David Smith</h4>
                    <p>Chief Digital Officer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="category">
  <div class="container">
    <div class="row">
      <h1 class="category__heading text-capitalize col-12 mb-5">Browse jobs by category</h1>
      <div class="col-12 col-md-3 category__item">
        <a href="" class="category__item__img d-block w-100">
          <img src="../../assets/img/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg" alt="office" class="mw-100">
          <p class="text-white font-weight-bold mb-0">Sales Jobs</p>
        </a>
        <div class="category__item__container">

          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-3 category__item">
        <a href="" class="category__item__img d-block w-100">
          <img src="../../assets/img/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt="office" class="mw-100">
          <p class="text-white font-weight-bold mb-0">Sales Jobs</p>
        </a>
        <div class="category__item__container">
          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
        </ul>
        <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
        </ul>
        <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
          <li class="list-group-item">
            <a href="#" class="text-dark">Financial Manager Jobs</a>
          </li>
        </ul>
        </div>
      </div>
      <div class="col-12 col-md-3 category__item">
        <a href="" class="category__item__img d-block w-100">
          <img src="../../assets/img/annie-spratt-FSFfEQkd1sc-unsplash.jpg" alt="office" class="mw-100">
          <p class="text-white font-weight-bold mb-0">Sales Jobs</p>
        </a>
        <div class="category__item__container">

          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-3 category__item">
        <a href="" class="category__item__img d-block w-100">
          <img src="../../assets/img/thought-catalog-505eectW54k-unsplash.jpg" alt="office" class="mw-100">
          <p class="text-white font-weight-bold mb-0">Sales Jobs</p>
        </a>
        <button type="button" class="btn btn-outline-primary d-md-none d-block my-4 w-100 mx-auto" [class.active]="isActive" (click)="isActive = !isActive">
          Browse More Jobs
          <svg style="margin-top: -2px; margin-left: 6px;" class="ml-3 " width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        </button>
        <div class="category__item__container" [class.active]="isActive">

          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
          <a href="#" class="category__item__heading mt-4 mb-3 d-block">Accounting/Finance Jobs</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
            <li class="list-group-item">
              <a href="#" class="text-dark">Financial Manager Jobs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="myCard">
  <div class="container">
    <div class="row mx-0 justify-content-center">
      <div class="col-12 myCard__cont d-flex justify-content-between align-items-center row">
        <div class="myCard__body col-12 col-md-9">
          <h3 class="myCard__body__heading text-primary font-weight-light">Ready to get started?</h3>
          <p class="text-secondary myCard__body__text">Create free account and refer a friend</p>
        </div>
        <div class="col-12 col-md-3 d-flex justify-content-start justify-content-md-center">
          <button type="button" class="btn btn-primary myCard__button">Create Free Account</button>
        </div>
      </div>
    </div>
  </div>
</section>